.title
{
  font-family: 'Balsamiq Sans', cursive;
  font-size: 105px;
  letter-spacing: 4px;
  padding-top: 0px;
  padding-bottom: 30px;
}


.para1,.para2
{
  font-family: 'Noto Sans', sans-serif;
  font-size: 1.4rem;
  line-height: 33px;
}

.para1
{
  margin-top: -24px;
}

body
{
  background-color: #ffcb74;
  margin: auto 20px;
  text-align: center;
}
img
{
  align-items: center;
}

.img2
{
      margin: 35px 25%;
}
